<a href="https://colab.research.google.com/github/ifeomai/curly-octo-r-stat-machine/blob/main/white-house-salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
R.version.string
install.packages("googledrive")
library("googledrive")

[1] "R version 4.2.2 Patched (2022-11-10 r83330)"

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [3]:
library(readxl)
ds_salaries <- read_excel("/content/2010_White_House_Staff.xlsx")

In [4]:
summary(ds_salaries)

 Employee Name      Employee Status        Salary        Pay Basis
 Length:469         Length:469         Min.   :     0   Length:469
 Class :character   Class :character   1st Qu.: 45900   Class :character
 Mode  :character   Mode  :character   Median : 66300   Mode  :character
                                       Mean   : 82721
                                       3rd Qu.:113000
                                       Max.   :179700
 Position Title
 Length:469
 Class :character
 Mode  :character

In [6]:
range(ds_salaries$Salary)

[1]      0 179700

In [7]:
sd(ds_salaries$Salary)

[1] 41589.43

In [9]:
IQR(ds_salaries$Salary)

[1] 67100

In [10]:
var(ds_salaries$Salary)

[1] 1729680969